---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">ChatGPT</span>
    <span class="gpt-subtitle">For Free</span>
  </div>
  <p mt-1 op-70>基于 OpenAI API ({model}).</p>
  <br/>
  <!-- <p mt-1 op-50>你知道吗，如果你打算和AI换一个话题，请先点击右下角的“清除对话”按钮。这不仅能让AI的回答更集中，还能帮我省钱！！！</p> -->
  <!-- <p mt-1 op-50>连续对话的原理是每次都把聊天记录回输给AI，而Openai的接口按字数计费，所以请尽量减少对话长度</p> -->
</header>
